/* You can add global styles to this file, and also import other style files */
@import url('./assets/prebuilt-themes/indigo-pink.css');
@import url('./assets/c3.min.css');

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(assets/fonts/iconfont/MaterialIcons-Regular.eot);
	/* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(assets/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
		url(assets/fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
		url(assets/fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

@font-face {
	font-family: "iran-sans-light";
	src: url("assets/fonts/IRANSansWeb_UltraLight.eot") format("eot"),
		url("assets/fonts/IRANSansWeb_UltraLight.woff") format("woff"),
		url("assets/fonts/IRANSansWeb_UltraLight.woff2") format("woff2"),
		url("assets/fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
	font-family: "iran-sans";
	src: url("assets/fonts/IRANSansWeb_Light.eot") format("eot"),
		url("assets/fonts/IRANSansWeb_Light.woff") format("woff"),
		url("assets/fonts/IRANSansWeb_Light.woff2") format("woff2"),
		url("assets/fonts/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
	font-family: "iran-sans-bold";
	src: url("assets/fonts/IRANSansWeb_Bold.eot") format("eot"),
		url("assets/fonts/IRANSansWeb_Bold.woff") format("woff"),
		url("assets/fonts/IRANSansWeb_Bold.woff2") format("woff2"),
		url("assets/fonts/IRANSansWeb_Bold.ttf") format("truetype");
}
html {
	overflow: hidden;
}
body {
	overflow-y: auto;
	height: 100vh;
	overflow-x: hidden;
}
html,
body,
.mat-sidenav-container {
	background-color: rgb(244, 244, 244) !important;
}
body {
	font-family: 'iran-sans', sans-serif;
	font-size: 12px;
	line-height: 2em;
	margin: 0;
	padding: 0;
}

body .mat-card mat-card-subtitle {
	font-size: 18px;
}

.mat-button {
	font-family: 'iran-sans' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'iran-sans-bold' !important;
}

body,
body .mat-card mat-card-title,
body .mat-card mat-card-subtitle,
.mat-button-focus-overlay,
.mat-icon-button,
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-input-container,
.mat-menu-item,
.mat-checkbox-label,
.mat-toolbar,
.mat-tab-label,
.mat-form-field-autofill-control,
.mat-select,
.mat-calendar,
.mat-card-title,
.mat-expansion-panel-header,
.mat-expansion-panel-content,
.mat-simple-snackbar,
.mat-slide-toggle-content,
mat-list-item,
mat-card,
mat-select,
mat-card-content,
.mat-list-item,
mat-radio-button,
.mat-option,
.mat-form-field-label,
.mat-table,
.mat-step-label,
.mat-tab-body,
.mat-tab-body-content,
p {
	font-family: 'iran-sans', sans-serif !important;
	font-weight: normal;
}

.mat-simple-snackbar {
	direction: rtl;
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item {
	font-size: 13px;
}
/* 
app-toolbar {
    font-size: 14px !important;
    background-color: rgb(244,244,244) !important;
    
    padding-left: 20px;
    padding-right: 20px;
    color: #111;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 666;
    font-weight: bolder !important;
    box-sizing: border-box;
} */
/*app-upper-menu,
app-search-box {
    color: #777;
}

.mat-checkbox-layout .mat-checkbox-label {
    line-height: 24px;
    font-size: 14px !important;
    font-weight: 700 !important;
    color: #333;
}

.mat-button,
.mat-icon-button,
.mat-raised-button {
    color: #333;
    font-weight: 100 !important;
}

.mat-checkbox-inner-container {
    margin-left: 8px;
    margin-right: 20px !important;
}*/

mat-sidenav-container mat-sidenav-content {
	min-height: calc(100vh - 106px);
	padding-bottom: 50px;
}

mat-sidenav {
	transition: padding-top 400ms;
}

.comfortable mat-sidenav {
	padding-top: 220px;
}
mat-sidenav {
	width: 300px;
}

#fakeToolbar {
	height: 92px;
	/* background-color: #673ab7; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

mat-card-title {
	font-size: 16px !important;
	font-weight: bold !important;
}

mat-card-header {
	/* border-bottom: 1px solid #e5e5e5; */
	margin-bottom: 20px !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	background-color: initial !important;
	background-image: none;
	/* color: rgb(0, 0, 0); */
}

.list-items {
	padding: 15px;
}
.list-item:not(:last-child) {
	border-bottom: 1px solid #e5e5e5;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
	border-color: transparent !important;
}

.mat-calendar-body-selected {
	background-color: inherit !important;
	color: inherit !important;
}

.mat-calendar-header {
	position: relative;
}

.mat-calendar-controls:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
	bottom: 0;
	background: white;
	z-index: 5;
	background-color: transparent;
}

.mat-calendar-arrow {
	display: none !important;
}
/* input,
button,
textarea,
select {
    -webkit-transform: translate3d(0, 0, 0);
} */

mat-datepicker-toggle mat-icon {
	font-size: 20px !important;
	opacity: 0.8;
	position: relative;
	left: 5px;
}

#app-name {
	font-size: 13px;
	font-weight: bolder;
}

.mat-drawer {
	/* bottom: initial !important;
     overflow: hidden; */
	background: transparent;
}
/* 
 mat-sidenav mat-nav-list {
     background: #fff;
 } */

#app-name {
	z-index: 2 !important;
	/* color: #222; */
	margin-right: 37px;
}

app-dropdown-date-picker {
	margin-top: 15px;
	margin-bottom: 20px;
}
/* mat-card-header.mat-card-header {
     border-bottom: 1px solid #4051b5;

     color: #4051b5;
 } */

p {
	font-size: 13px;
}

a.ng-trigger-menuItem .mat-list-item-content {
	height: 100% !important;
}

mat-toolbar.mat-toolbar {
	/* background: #fff;
	border-bottom: 1px solid #eaeaea; */
	color: #202020;
	z-index: 4;
	position: fixed;
}
.mat-card-header-text {
	width: 100%;
}
.mat-tab-label {
	min-width: 50px !important;
}

.mat-expansion-panel-body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.mat-tab-body-wrapper {
	padding: 30px;
}

.mat-horizontal-stepper-header-container {
	margin-bottom: 20px;
}
.mat-tab-body-wrapper {
	padding: 0;
}
.mat-horizontal-content-container {
	/* padding-bottom: 0 !important; */
}

mat-sidenav-content {
	padding-top: 64px;
}

mat-sidenav-content mat-sidenav-content {
	padding: 25px;
}

.left-align {
	text-align: left !important;
}
.right-align {
	text-align: right !important;
}

.user-user .mat-list-item {
	color: #fff;
}

.diagram-box mat-card {
	margin: 15px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.diagram-box .c3 {
	direction: ltr;
}

#modify-diagram mat-slider {
	width: 100px;
	position: absolute;
	top: 50px;
	left: 0px;
}

.diagram-box .mat-accent .mat-slider-thumb,
.diagram-box .mat-accent .mat-slider-thumb-label,
.diagram-box .mat-accent .mat-slider-track-fill {
	background-color: #333;
}

.widget-container {
	position: relative;
}

.widget-container diagram,
.widget-container diagram .widget {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

diagram-add dynamic-component-selector .mat-card {
	height: 100%;
	margin-top: 0 !important;
}
.bjs-powered-by {
	display: none;
}

.cards-item {
	margin-bottom: 20px;
}
.mat-drawer-container {
	background-color: inherit;
}
.mat-drawer-content {
	box-sizing: border-box;
	/* height: 100vh !important; */
}
#layout-sidnav > mat-sidenav-content {
	transition: all 400ms;
}
.comfortable #layout-sidnav > mat-sidenav-content {
	padding-top: 33vh;
}
.compact #layout-sidnav > mat-sidenav-content {
	padding-top: 128px;
}
.summary #layout-sidnav > mat-sidenav-content {
	padding-top: 64px;
}
