lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp


# IDE - VSCode
.vs/
.vs/slnx.sqlite
.vs/*


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings


#Build
public/css/main.css


# API keys and secrets
#.env


# Dependency directory
node_modules
*/node_modules
bower_components


# Editors
.idea
*.iml
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# OS metadata
.DS_Store
Thumbs.db


# compiled output
/dist
/tmp
/out-tsc


# System Files
.DS_Store
Thumbs.db
/.vs/MyShatelUI/v15
.vs/slnx.sqlite