<br/>
<br/>
<br/>
<br/>

<div>
  select schema root type : 
  <mat-radio-group (change)="addRootControl($event.value)">
      <mat-radio-button value="array">array</mat-radio-button>
      <mat-radio-button value="group">group</mat-radio-button>
    </mat-radio-group>
</div>

<div class="button-row">
  <button mat-button color="primary" (click)="addFormGroup(schema.form)">addFormGroup</button>
  <button mat-button color="primary" (click)="addFormArray(schema.form)">addFormArray</button>
  <!-- <button mat-button color="primary" (click)="addFormControl(schema.form)">addFormControl</button> -->
</div>

  <div [ngSwitch]="schema.form?.type">
    <app-form-group *ngSwitchCase="'group'" [schema]="schema.form" (change)="changed($event)"></app-form-group>
    <app-form-array *ngSwitchCase="'array'" [schema]="schema.form" (change)="changed($event)"></app-form-array>
  </div>


<br/>

<button mat-button color="primary" (click)="form.generate(schema)">generate</button>



<app-dynamicform #form></app-dynamicform>
