<div fxFlexLayout="row" fxLayoutWrap fxLayoutAlign="center center">
  <div [fxFlex]="30">
    <form [formGroup]="formGroup">
      <mat-card >
        <mat-card-header>
          <mat-card-title>ایجاد فرم جدید</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
              <input type="text"  matInput placeholder="نام فرم" formControlName="name">
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      
      <mat-card>
        <mat-card-content>
            <mat-accordion fxFlexLayout="row">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Personal data
                    </mat-panel-title>
                    <mat-panel-description>
                      Type your name and age
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <mat-form-field>
                    <input matInput placeholder="First name">
                  </mat-form-field>
              
                  <mat-form-field>
                    <input matInput placeholder="Age">
                  </mat-form-field>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                      Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>
              </mat-accordion>




          <div class="button-row">
            <button mat-button color="primary" (click)="addFormGroup(schema.form)">addFormGroup</button>
            <button mat-button color="primary" (click)="addFormArray(schema.form)">addFormArray</button>
          </div>
        
          <div [ngSwitch]="schema.form?.type">
            <app-form-group *ngSwitchCase="'group'" [schema]="schema.form" (change)="changed($event)"></app-form-group>
            <app-form-array *ngSwitchCase="'array'" [schema]="schema.form" (change)="changed($event)"></app-form-array>
          </div>
        
          <button mat-button color="primary" (click)="form.generate(schema)">generate</button>
        </mat-card-content>
      
      <mat-card-actions>
        <button fxFlex mat-raised-button color="primary" (click)="emit()" type="submit">ثبت</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
  <div [fxFlex]="70">
    <mat-card>
      <mat-card-content>
        <ngs-form-view #form></ngs-form-view>
      </mat-card-content>
    </mat-card>
  </div>
</div>