<div fxFlex="450px">
    <form [formGroup]="formGroup">
    <mat-card>
      <mat-card-header>
        <mat-card-title>اطلاعات فرم</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class='list-item' fxFlexLayout='row'>
          <p fxFlex='40'>نام</p>
          <input fxFlex='60' formControlName="Name" />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button fxFlex mat-raised-button color="primary" (click)="add()" type="submit">ثبت</button>
      </mat-card-actions>
    </mat-card>
    </form>
  </div>