  <div fxFlex="450px">
    <form [formGroup]="formGroup" (ngSubmit)="edit()" fxLayout="column">
      <mat-card>
        <mat-card-content>
          <mat-form-field fxFlexFill>
            <input type="text" matInput placeholder="نام" formControlName="Name">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
          <button fxFlex="nogrow" type="submit" mat-raised-button color="primary">ویرایش</button>
          <button fxFlex="nogrow" type="button" routerLink="../list" mat-raised-button>بازگشت</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>