/*.upper-menu { float: left; position: absolute; left: 0; top: 30px; }
.upper-menu a { border-left: 1px solid #eee; color: #222; padding: 0 5px 0 8px; font-size: 14px; text-decoration: none; cursor: pointer; }
.upper-menu a:hover { color: #f16321; }
.upper-menu .last { border: none; }
.upper-menu-div { padding: 0 10px; border-left: 1px solid #ddd; }
.upper-menu-div-last { padding: 0 10px; }

:host{
    width: 100%;
}*/