#box-left {
    background: #2B0033;
    background: #fff;
    /*height:1200px;*/
}

#box-bottom {
    background: #2B0033;
    /*height:1200px;*/
}

#box-right {
    background: #000833;
    /*height:1200px;*/
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

#box-right div {
    background: #fff;
    opacity: 0.5;
}

#banner:not(.active) {
    height: 100%;
    filter:grayscale(100%) brightness(1.5) opacity(0.2) blur(2px);
}

#s1 {
    background: #aaa;
}

#s2 {
    background: #bbb;
}

#s3 {
    background: #ccc;
}

.personal-info {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    right: 10%;
    width: 90%;
    height: 469px;
}

.personal-info h2 {
    color: #00bcd4;
    font-weight: normal;
    font-size: 24px;
    font-family: 'iran-sans-light' !important;
}

.personal-info h6 {
    font-weight: normal;
    font-size: 12px;
    float: right;
    width: 50%;
    margin: 0;
    color: #555;
    border-bottom: 2px solid #ececec;
}

.personal-info p {
    float: right;
    width: 30%;
    margin: 0;
    font-size: 13px;
    padding-right: 30px;
    border-bottom: 2px solid #ececec;
}

.personal-info div {
    width: 100%;
    height: 50px;
    position: relative;
    line-height: 52px;
    right: 17px;
}

.personal-info-inner {}

.quick-box {
    width: 100%;
    height: 50px;
    position: relative;
    line-height: 52px;
    padding-top: 79px;
}

.quick-btn {
    background-color: #00bcd4;
    margin: 12px 10px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 17px;
    color: #fff;
}

.banner-section {
    text-align: center;
    /*background-color: #f6882f;*/
    /*filter:grayscale(100%);*/
}

.info-section {
    padding: 10px 25px;
    padding-top: 60px;
    background-color: #f7f7f7;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/grey.png') !important;
    height: 1040px;
    padding-bottom: 120px !important;
}