<div fxLayoutAlign="center center">
  <mat-accordion fxFlex="800px">
    <div fxLayout='row' fxLayoutWrap>
      <mat-card fxFlex>
        <img mat-card-image src="../../assets/images/map.jpg" />
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <h4>
            تماس با ما
          </h4>
          <p>
            آدرس : تهران، خیابان شریعتی، پایین تر از پل صدر، بن بست
            <br /> کدپستی : ۱۹۱۴۷۳۳۴۴۱
          </p>
          <p>
            تلفن : 1223654
          </p>
          <p>
            نمابر : 1122554
          </p>
          <p>
            پست الکترونیک : sales [at] bimeh [dot] ir
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-accordion>
</div>