<div fxLayoutAlign="center center">
  <mat-accordion fxFlex="800px">

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          درباره ما
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <h4>ما در یک نگاه</h4>
        <p>
          لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.
          طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته
          شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای
          صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه
          طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در
          نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان
          حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند
          تا مرحله طراحی و صفحه‌بندی را به پایان برند.
        </p>
        <p>
          لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.
          طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته
          شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای
          صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه
          طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در
          نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان
          حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند
          تا مرحله طراحی و صفحه‌بندی را به پایان برند.
        </p>

        برخی از مهم‌ترین افتخارات
        <ul>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید نامفهوم نامفهوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم ا لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم استفاده صنعت شرالورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
        </ul>


        <h4>مهم‌ترین فعالیت‌ها</h4>

        اصلی‌ترین فعالیت‌های گروه شرکت‌های را می‌توان به صورت موارد زیر برشمرد:
        <ul>
          <li>ارایه دهنده سرویس اینترنت پر سرعت ADSL2+ و‌VDSL </li>
          <li>ارایه سرویس وای فای عمومی (Public WiFi)</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید نامفهوم نامفهوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم ا لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم استفاده صنعت شرالورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
        </ul>



        <h4>زیرساخت‌های قانونی:</h4>

        فعالیت در مسیری که هم‌اینک در آن گام بر می‌دارد، مستلزم فراهم ساختن زیرساخت‌های قانونی بسیاری‌ است که از جمله مهم‌ترین آن‌ها
        می‌توان به موارد زیر اشاره کرد:
        <ul>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید نامفهوم نامفهوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم ا لورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژی متن نامفهوم نامفهوم استفاده صنعت شرالورم ایپسوم صنعت تولید.</li>
          <li>لورم ایپسوم تکنولوژی پیشرو تولید لورم ایپسوم تکنولوژوم استفاده صنعت شرایط لورم ایپسوم صنعت تولید.</li>
        </ul>

      </mat-card-content>

      <mat-card-actions>
        <button fxFlex mat-raised-button routerLink="" color="primary">بازگشت به صفحه اصلی</button>
      </mat-card-actions>
    </mat-card>

  </mat-accordion>
</div>