:host {
	width: 100%;
}
.step-text {
	padding-bottom: 25px;
	font-size: 13px;
	font-weight: bold;
}
.mat-form-field {
	width: 100%;
}
.then {
	color: darkorange;
}
mat-card.step {
	padding-top: 10px;
	padding-bottom: 0;
}
