<div #mainSideNav>
  <mat-progress-bar *ngIf='progressStatus$ | async' color="primary" mode="query"></mat-progress-bar>
  <mat-toolbar>
    <app-logo-container fxFlex="none" fxLayoutAlign="end center"></app-logo-container>

    <button type="button" *ngIf='showSidebarMenu' (click)="toggleMainSidebar()" mat-icon-button fxFlex="nogrow" fxLayoutAlign="center center">
      <mat-icon>menu</mat-icon>
    </button>
    <span id='app-name'>
      {{(app_config | async)?.Config.AppTitle}}{{secondSidenavMode | async}}
    </span>

    <app-title fxFlex fxLayoutAlign="start center"></app-title>
    <app-search-box fxFlex fxLayoutAlign="end center"></app-search-box>
    <app-toolbar-menu *ngIf='showSidebarMenu' fxFlex="none" fxLayoutAlign="end center"></app-toolbar-menu>
  </mat-toolbar>

  <mat-sidenav-container [class]="userType">
    <mat-sidenav [mode]="mainSidenavMode | async" [opened]='showMainSidenav | async' #sidebar (closedStart)="onSidebarClosedStart()">
      <mat-nav-list>
        <layout-main-menu [authenticated]='showSidebarMenu' (closeSidebar)="sidebar.close()" (click)="onSecondSidebarClosedStart()"></layout-main-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav [mode]="secondSidenavMode | async" [opened]='showSecondSidenav | async' (closedStart)="onSecondSidebarClosedStart()"
      position="end" #second_sidebar class="second_sidebar">
      <mat-nav-list fxLayout='column'>
      </mat-nav-list>
    </mat-sidenav>

    <div fxFlexLayout='column' id="app-main-container" fxLayoutAlign='center center'>
      <div fxFlex='0 0 100'>
        <app-addform></app-addform>
        <!-- <app-dynamicform></app-dynamicform> -->
        <router-outlet></router-outlet>
        <footer>
          <app-footer></app-footer>
        </footer>
      </div>
    </div>
  </mat-sidenav-container>
</div>