<div fxFlexLayout="row" fxLayoutWrap fxLayoutAlign="center center">
    <mat-card class="config-box" *ngFor="let item of (data$ | async)" [fxFlex]="30">
      <mat-card-header>
        <mat-card-title>
          <a [routerLink]="['edit' ,  item._id]">
            <mat-icon aria-label="edit config">edit</mat-icon>
          </a>
          {{item.name}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div [id]="'form_' + item.Name"></div>
      </mat-card-content>
    </mat-card>
  </div>