/*
* Widget Module
*/

.widget-container {
	position: relative;
}

.widget-container diagram,
.widget-container diagram .widget {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* Widget Module end */
