/*
* Grid Module
*/

gridster {
	background-color: #f0f0f0 !important;
}

gridster mat-card {
	box-shadow: none !important;
}
gridster .diagram-box {
	margin: 0 !important;
}
gridster gridster-item .initializer {
	transition: all .4s ease;
	opacity: 0;
	visibility: hidden;
}
gridster gridster-item:hover .initializer {
	visibility: visible;
	opacity: 1;
}

/* Grid Module end */
