/*
* layout Module Start
*/

#layout-sidnav > mat-sidenav-content {
	transition: all 800ms;
	overflow: visible;
}
.fullscreen #layout-sidnav > mat-sidenav-content {
	padding: 0;
}
.comfortable #layout-sidnav > mat-sidenav-content {
	padding-top: 33vh;
}
.compact #layout-sidnav > mat-sidenav-content {
	padding-top: 100px;
}
.summary #layout-sidnav > mat-sidenav-content {
	padding-top: 64px;
}
.hide #layout-sidnav > mat-sidenav-content {
	padding-top: 1px;
}
.main-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 167px;
    background-color: #63b5f6;
    z-index: 0;
    padding: 25px;
    font-size: 18px;
    z-index: -2;
}

/* Rules Module End */
