<mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side">
      <mat-card fxLayout="column" *ngIf="activeEl?.type == shapesType.TASK" fxFlexAlign="start" >
        <mat-form-field fxFlex>
            <input type="text" matInput placeholder="formId"  [(ngModel)]="activeEl.id">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-select placeholder="Task Type" [(ngModel)]="activeEl.el.Properties.Type">
            <mat-option *ngFor="let item of stateTypes" [value]="item">{{ item }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input type="text" matInput placeholder="formId"  [(ngModel)]="activeEl.el.Properties.FormId">
        </mat-form-field>
      </mat-card>
    </mat-drawer>
    <mat-drawer-content>
      
      <mat-grid-list cols="4" rowHeight="calc(100vh - 70px)">
        <mat-grid-tile colspan="1"rowspan="1">
          <mat-card [formGroup]="formGroup"  fxFlexAlign="start">
            <mat-form-field>
              <input type="text" matInput placeholder="نام فرایند" formControlName="Name">
            </mat-form-field>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="bpmnView.getFlow()">
                <mat-icon aria-label="icon-button">add</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="3"rowspan="1">
          <div fxFlex="1 1 auto" fxFlexAlign="stretch">
            <ngs-bpmn-view #bpmnView
              [flow]="flow"
              (submit)="upsert($event)"
              (elementHover)="elementHover($event)"
              (elementOut)="elementOut($event)"
              (elementClick)="elementClick($event)"
              (elementDblclick)="flow($event)"
              (elementMousedown)="elementMousedown($event)"
              (elementMouseup)="elementMouseup($event)"
            ></ngs-bpmn-view>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-drawer-content>
  </mat-drawer-container>